@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Start Global Custom Styles ===== */
html.dark {
  background-color: #101010;
}
html.light {
  background-color: #ffffff;
}
nav [data-active="true"] a {
  color: #b91037;
}
.dark path.recharts-rectangle {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-area-area {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-line-curve {
  stroke: #b91037;
}
span.cl-internal-9ci4h9 {
  color: #9c1a1b !important;
}
span.cl-internal-rscu79 {
  color: #b1b1b1 !important;
}
span.cl-badge.🔒️.cl-internal-1kacczc,
span.cl-badge.🔒️.cl-internal-qosp7d {
  color: #c33838 !important;
  background-color: #272727 !important;
}

/* Button Global */
a.z-0.group.relative.inline-flex.items-center.justify-center.box-border.appearance-none.select-none.whitespace-nowrap.font-normal.subpixel-antialiased.overflow-hidden.tap-highlight-transparent.outline-none {
  border-radius: 100px !important;
  padding: 10px 25px;
}


/* ===== End Global Custom Styles ===== */

/* ===== Start Custom Style Toast ===== */

[data-sonner-toast][data-styled="true"] {
  background: #991b1b !important;
}
svg.tabler-icon.tabler-icon-star-filled.text-primary,
.hover\:text-primary:hover {
  color: #991b1b !important;
}
.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: #991b1b;
}

@media screen and (max-width: 768px) {
  .count-pages {
      left: 50%;
      top: 30%;
      display: flex;
      transform: translate(-50%, -50%);
      justify-content: center;
  }
}
/* ===== End Custom Style Toast ===== */

/* ===== Satrt Pages Styles ===== */
.hero-section {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7931547619047619) 3%, rgba(0,0,0,0) 100%);
}
.page-container {
  padding: 20px;
}
.page-width {
  width: min(100% - 100px, 1124px);
  margin-inline: auto;
}
.page-heading.bg-image {
  background-image: url('./images/page heading background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-headline,
.page-heading-wrapper h1 {
  font-size: 52px;
  font-weight: 600;
}

h2.section-headline {
  font-size: 42px;
  font-weight: 600;
}
h3.section-headline {
  font-size: 32px;
  font-weight: 600;
}
h4.section-headline {
  font-size: 22px;
  font-weight: 500;
}

.red {
  color: #991b1b;
}

.page-heading-wrapper h1 {
  text-align: center;
}

.our-services {
  background-color: #000000;
}
.section-label,
.section-headline {
  color: #ffffff;
}
.section-headline {
  line-height: 1.2;
}
.section-label {
  background-color: #991b1b46;
  padding: 7px 20px;
  color: #ffffff;
  border: 1px solid #991b1b;
  border-radius: 100px;
  font-weight: 400;
}
/* ===== End Pages Styles ===== */

/* ===== Start Pages Heading Styles ===== */
h1.page-headings {
  font-size: 30px;
  font-weight: 600;
  color: #818181;
  padding-left: 15px;
  line-height: 22px;
  border-left: 2px solid #991b1b;
}

@media screen and (max-width: 410px) {
  h1.page-headings {
    line-height: 22px;
    font-size: 20px;
  }
}
/* ===== End Pages Heading Styles ===== */

/* ===== Gallery Page ====== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts to screen size */
  gap: 16px; /* Adds space between items */
}

.gallery-item a {
  display: block; /* Change flex to block for grid items */
  aspect-ratio: 3 / 4;
}

img.gallery-image {
  object-fit: cover;
  width: 100%; /* Ensures images fill the container */
  height: 100%; /* Ensures images fill the container */
}

/* @media screen and (max-width: 768px) {
}
@media screen and (max-width: 410px) {
  .gallery-item a,
  img.gallery-image {
    width: 100%;
  }
} */
/* ===== Gallery Page ====== */

/* ===== Start Form Uploading ===== */
.upload-form-button {
  padding: 8px 15px;
  background-color: #991b1b;
  color: #ffffff;
  border-radius: 7px;
}
/* ===== End Form Uploading ===== */

/* ===== Start Header and Footer ===== */

.nav-link {
  color: #818181;
  font-size: 16px;
  transition: all 0.3s;
}
.nav-link a:hover {
  color: #cccccc;
  text-shadow: 0 0 5px #ffffff26, 0 0 10px rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.nav-link {
	position: relative;
	display: flex;
}

.nav-link a:before, .nav-link a:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 52px;
	height: 52px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.nav-link a:after {
	width: 40px;
	height: 40px;
	border-width: 5px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.nav-link a:hover:before, .nav-link a:hover:after, .nav-link a:focus:before, .nav-link a:focus:after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.footer-label {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
}
.footer-link a {
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
}
.footer-link a:hover {
  color: #ffffffa4;
  font-weight: 400;
}
/* ===== End Header and Footer ===== */