@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Start Global Custom Styles ===== */
html.dark {
  background-color: #101010;
}
html.light {
  background-color: #ffffff;
}
nav [data-active="true"] a {
  color: #b91037;
}
.dark path.recharts-rectangle {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-area-area {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-line-curve {
  stroke: #b91037;
}
span.cl-internal-9ci4h9 {
  color: #9c1a1b !important;
}
span.cl-internal-rscu79 {
  color: #b1b1b1 !important;
}
span.cl-badge.🔒️.cl-internal-1kacczc,
span.cl-badge.🔒️.cl-internal-qosp7d {
  color: #c33838 !important;
  background-color: #272727 !important;
}
/* ===== End Global Custom Styles ===== */

/* ===== Start Custom Style Toast ===== */
[data-sonner-toast][data-styled="true"] {
  background: #991b1b !important;
}
svg.tabler-icon.tabler-icon-star-filled.text-primary,
.hover\:text-primary:hover {
  color: #991b1b !important;
}
.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: #991b1b;
}

@media screen and (max-width: 768px) {
  .count-pages {
      left: 50%;
      top: 30%;
      display: flex;
      transform: translate(-50%, -50%);
      justify-content: center;
  }
}
/* ===== End Custom Style Toast ===== */

/* ===== Pages Styles ===== */
.page-container {
  padding: 20px;
}
/* ===== Pages Styles ===== */

/* ===== Start Pages Heading Styles ===== */
h1.page-headings {
  font-size: 30px;
  font-weight: 600;
  color: #818181;
  padding-left: 15px;
  line-height: 22px;
  border-left: 2px solid #9c1a1b;
}

@media screen and (max-width: 410px) {
  h1.page-headings {
    line-height: 22px;
    font-size: 20px;
  }
}
/* ===== End Pages Heading Styles ===== */

/* ===== Gallery Page ====== */
.gallery-item a {
  display: flex;
  aspect-ratio: 3/4;
}
img.gallery-image {
  object-fit: cover;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 410px) {
  .gallery-item a,
  img.gallery-image {
    width: 100%;
  }
}
/* ===== Gallery Page ====== */

/* ===== Start Form Uploading ===== */
.upload-form-button {
  padding: 8px 15px;
  background-color: #9c1a1b;
  color: #ffffff;
  border-radius: 7px;
}
/* ===== End Form Uploading ===== */

/* left: 50%;
top: 20%;
transform: translate(-50%, -50%); */
