@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Start Global Custom Styles ===== */
html.dark {
  background-color: #101010;
}
html.light {
  background-color: #ffffff;
}
nav [data-active="true"] a {
  color: #b91037;
}
.dark path.recharts-rectangle {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-area-area {
  fill: #b91037;
}
.dark path.recharts-curve.recharts-line-curve {
  stroke: #b91037;
}
span.cl-internal-9ci4h9 {
  color: #9c1a1b !important;
}
span.cl-internal-rscu79 {
  color: #b1b1b1 !important;
}
span.cl-badge.🔒️.cl-internal-1kacczc,
span.cl-badge.🔒️.cl-internal-qosp7d {
  color: #c33838 !important;
  background-color: #272727 !important;
}

/* Button Global */
a.z-0.group.relative.inline-flex.items-center.justify-center.box-border.appearance-none.select-none.whitespace-nowrap.font-normal.subpixel-antialiased.overflow-hidden.tap-highlight-transparent.outline-none {
  border-radius: 100px !important;
  padding: 10px 30px;
}


.nav-link {
  color: #818181;
  font-size: 16px;
}
.nav-link a.link.active {
  color: #818181;
  font-size: 16px;
}

/* ===== End Global Custom Styles ===== */

/* ===== Start Custom Style Toast ===== */

[data-sonner-toast][data-styled="true"] {
  background: #991b1b !important;
}
svg.tabler-icon.tabler-icon-star-filled.text-primary,
.hover\:text-primary:hover {
  color: #991b1b !important;
}
.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: #991b1b;
}

@media screen and (max-width: 768px) {
  .count-pages {
      left: 50%;
      top: 30%;
      display: flex;
      transform: translate(-50%, -50%);
      justify-content: center;
  }
}
/* ===== End Custom Style Toast ===== */

/* ===== Satrt Pages Styles ===== */
.hero-section {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7931547619047619) 3%, rgba(0,0,0,0) 100%);
}
.page-container {
  padding: 20px;
}
.page-width {
  width: min(100% - 100px, 1124px);
  margin-inline: auto;
}
.page-heading.bg-image {
  background-image: url('./images/page heading background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-headline,
.page-heading-wrapper h1 {
  font-size: 52px;
  font-weight: 600;
}

h2.section-headline {
  font-size: 42px;
  font-weight: 600;
}
h3.section-headline {
  font-size: 32px;
  font-weight: 600;
}
h4.section-headline {
  font-size: 22px;
  font-weight: 500;
}

.red {
  color: #991b1b;
}

.page-heading-wrapper h1 {
  text-align: center;
}

.our-services {
  background-color: #000000;
}
.section-label,
.section-headline {
  color: #ffffff;
}
.section-label {
  background-color: #991b1b46;
  padding: 7px 20px;
  color: #ffffff;
  border: 1px solid #991b1b;
  border-radius: 100px;
  font-weight: 400;
}
/* ===== End Pages Styles ===== */

/* ===== Start Pages Heading Styles ===== */
h1.page-headings {
  font-size: 30px;
  font-weight: 600;
  color: #818181;
  padding-left: 15px;
  line-height: 22px;
  border-left: 2px solid #9c1a1b;
}

@media screen and (max-width: 410px) {
  h1.page-headings {
    line-height: 22px;
    font-size: 20px;
  }
}
/* ===== End Pages Heading Styles ===== */

/* ===== Gallery Page ====== */
.gallery-item a {
  display: flex;
  aspect-ratio: 3/4;
}
img.gallery-image {
  object-fit: cover;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 410px) {
  .gallery-item a,
  img.gallery-image {
    width: 100%;
  }
}
/* ===== Gallery Page ====== */

/* ===== Start Form Uploading ===== */
.upload-form-button {
  padding: 8px 15px;
  background-color: #9c1a1b;
  color: #ffffff;
  border-radius: 7px;
}
/* ===== End Form Uploading ===== */
